.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

.articles,
.courses,
.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--light);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  padding-bottom: 18px;
  border-bottom: 2px solid rgba(236, 233, 228, 0.08);
}

.sectionTitle a {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  color: var(--light);
  background-color: rgba(236, 233, 228, 0.08);
  transition: all 300ms ease-in-out;
}

.sectionTitle a:hover {
  color: var(--red-pink);
  background-color: rgba(236, 233, 228, 0.12);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
