.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.6rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background: rgba(236, 233, 228, 0.08);
  border-radius: 1.2rem;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: var(--light);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--light-grey);
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
