.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
}

.content > h1 {
  font-size: 36px;
  line-height: 150%;
  font-weight: bold;
  color: var(--light);
}

.content > div > * {
  font-size: 22px;
  line-height: 165%;
  font-weight: 400;
  color: var(--light-grey);
}

@media (max-width: 600px) {
  .content > h1 {
    font-size: 24px;
    line-height: 150%;
    font-weight: bold;
  }

  .content > div > * {
    font-size: 18px;
    line-height: 165%;
    font-weight: 400;
  }
}
