.content {
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

@media (max-width: 960px) {
  .content {
    padding-top: 0.8rem;
    padding-bottom: 2rem;
  }
}
