.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listPost {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 1.6rem;
}

.listPost ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listPost ul li {
  display: flex;
  margin-bottom: 12px;
}

.listPost ul li:last-child {
  margin-bottom: 24px;
}

.listPost ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  transition: all 300ms ease-in-out;
  position: relative;
  font-weight: 600;
  padding-bottom: 16px;
  padding-top: 16px;
  line-height: 24px;
  font-size: 18px;
  flex: 1;
}

.listPost ul li a span {
  margin-right: 0.8rem;
  color: var(--light-grey);
  font-weight: 400;
  font-size: 92%;
  min-width: fit-content;
  flex: 0 0 80px;
}

.listPost ul li a:before {
  content: "";
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  border-radius: 12px;
  width: calc(100% + 32px);
  height: calc(100% + 8px);
  background-color: transparent;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}

.listPost ul li a:hover:before {
  background-color: rgba(236, 233, 228, 0.04);
}

.sectionTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 2px solid rgba(236, 233, 228, 0.08);
  margin-bottom: 16px;
}

.sectionTitle h3 {
  color: var(--light);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.sectionTitle a {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  color: var(--light);
  background-color: rgba(236, 233, 228, 0.08);
  transition: all 300ms ease-in-out;
}

.sectionTitle a:hover {
  color: var(--red-pink);
  background-color: rgba(236, 233, 228, 0.12);
}

@media (max-width: 600px) {
  .listPost {
    padding-left: 0;
    padding-right: 0;
  }

  .listPost ul li {
    margin-bottom: 0;
  }

  .listPost ul li:last-child {
    margin-bottom: 16px;
  }

  .listPost ul li a {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 2px solid rgba(236, 233, 228, 0.04);
  }

  .listPost ul li:last-child a {
    border-bottom: none;
  }

  .listPost ul li a:before {
    content: "";
    display: none;
  }

  .sectionTitle {
    padding-bottom: 8px;
    margin-bottom: 0;
  }
}
